* {
  box-sizing: border-box;
  padding: 0 auto;
  font-family: "Inter", sans-serif;
}

.nav-page {
  min-height: 100vh;
  overflow: hidden;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  margin: 0 auto;
}

.hope {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.nav-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-wrapper {
  display: flex;
  align-items: start;
}

a {
  font-family: Inter, system-ui;
}

.nav-link {
  margin: 0 20px;
}

.nav-links-hover {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 500;
}

.nav-link-login {
  margin: 0 2rem;
}

.nav-link-sighup {
  border-color: rgb(100 21 255);
  padding: 0.65rem 2rem;
  border-radius: 100px;
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
}

.nav-text {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 25px;
  font-weight: 700;
  padding-left: 12px;
  letter-spacing: 0.9px;
}

.logo-nav {
  width: 40px;
  height: 40px;
}

.introduction {
  display: flex;
  padding: 7rem 0;
}

.introduction-adjusting {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  justify-content: space-between;
  margin: auto 0;
}

.introduction-about-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(26 32 44);
  margin-bottom: 2rem;
}

.introduction-about-subtitle {
  font-size: 19px;
  font-weight: 400;
 padding-bottom: 25px;
}

.introduction-about-wrapper {
  position: relative;
  margin-right: auto;
  max-width: 28rem;
  text-align: center;
}


.introduction-about-email {
  padding-top: 1.5rem;
  padding-bottom: 1.5em;
  padding-right: 16rem;
  border-radius: 58px;
  font-size: 100%;
  width: 100%;
  text-align: center;
  border-color: rgb(226, 232, 240);
  border-style: solid;
  font-family: inherit;
  font-weight: 500;
  font-family: Inter, system-ui;
  
}

.introduction-about-button {
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 58px;
  padding-top: 1.5rem;
  padding-bottom: 1.3em;
  background-color: rgb(100 21 255);
  font-family: Inter, system-ui;
  color: white;
  border-style: solid;
  border-color: white;
  font-size: 18px;
  width: 40%;
  font-weight: 600;
  margin: 6px;
  cursor: pointer;
 
}


.introduction-about-vouches{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.introduction-about-vouches-text{
 margin-top: 3rem;
 font-size: 14px;
 font-weight: 700;
 color: #a0aec0;
 padding: 15px 0;
}

.introduction-about-vouches-logo{
  width: 85%;
  filter: grayscale(1) invert(1);
}




.text-purple {
  color: rgb(100 21 255);
}

.introduction-img {
  width: 100%;
}

figure {
  margin: 0 auto;
}

