* {
  box-sizing: border-box;
  padding: 0 auto;
  font-family: "Inter", sans-serif;
}

.blob {
  pointer-events: none;
  position: absolute;
  left: -8.5rem;
  bottom: 6rem;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  opacity: 0.05;
}

.blobv2{
  pointer-events: none;
  position: absolute;
  right: -6rem;
  bottom: 0 auto;
  width: 16rem;
  opacity: 0.25;
}




.nav-page {
  min-height: 90vh;
  overflow: hidden;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  margin: 0 auto;
}

.hope {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.nav-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-wrapper {
  display: flex;
  align-items: start;
}

a {
  font-family: Inter, system-ui;
}

.nav-link {
  margin: 0 20px;
}

.nav-links-hover {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 500;
}

.nav-link-login {
  margin: 0 2rem;
}

.nav-link-sighup {
  border-color: rgb(100 21 255);
  padding: 0.65rem 2rem;
  border-radius: 100px;
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
}

.nav-text {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 25px;
  font-weight: 700;
  padding-left: 12px;
  letter-spacing: 0.9px;
}

.logo-nav {
  width: 40px;
  height: 40px;
}

.introduction {
  display: flex;
  padding-top: 6rem;
}

.introduction-adjusting {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  justify-content: space-between;
  margin: auto 0;
}

.introduction-about-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(26 32 44);
  margin-bottom: 2rem;
}

.introduction-about-subtitle {
  font-size: 19px;
  font-weight: 400;
  padding-bottom: 25px;
}

.introduction-about-wrapper {
  position: relative;
  margin-right: auto;
  max-width: 28rem;
  text-align: center;
}

.introduction-about-email {
  padding-top: 1.5rem;
  padding-bottom: 1.5em;
  padding-right: 16rem;
  border-radius: 58px;
  font-size: 100%;
  width: 100%;
  text-align: center;
  border-color: rgb(226, 232, 240);
  border-style: solid;
  font-family: inherit;
  font-weight: 500;
  font-family: Inter, system-ui;
}

.introduction-about-button {
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 58px;
  padding-top: 1.5rem;
  padding-bottom: 1.3em;
  background-color: rgb(100 21 255);
  font-family: Inter, system-ui;
  color: white;
  border-style: solid;
  border-color: white;
  font-size: 18px;
  width: 40%;
  font-weight: 600;
  margin: 6px;
  cursor: pointer;
}

.introduction-about-vouches {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.introduction-about-vouches-text {
  margin-top: 3rem;
  font-size: 14px;
  font-weight: 700;
  color: #a0aec0;
  padding: 15px 0;
}

.introduction-about-vouches-logo {
  width: 85%;
  filter: grayscale(1) invert(1);
}

.text-purple {
  color: rgb(100 21 255);
  font-family: Inter, system-ui;
}

.introduction-img {
  width: 100%;
}

figure {
  margin: 0 auto;
}

/*

FEATURES

*/

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.features-arrange {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.features-section {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.5px;
  margin: 0px;
}

.features-title {
  font-size: 3.2rem;
  font-weight: 800;
  color: rgb(36 62 99);
  letter-spacing: 0.8px;
  font-family: Inter, system-ui;
  line-height: inherit;
  margin: 0px;
  margin-top: 12px;
}

.features-subtitle {
  color: rgb(124 139 161);
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  max-width: 32rem;
  line-height: 1.5;
  margin-top: 24px;
}

.features-spacing {
  margin: 12px 2px;
  width: 100%;
}

.features-img {
  width: 24px;
  height: 24px;
}

.features-img-container {
  height: 24px;
  width: 24px;
  padding: 2rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-color: rgb(226, 232, 240);
}

.features-container {
  margin: 0 1rem;
  padding: 2rem 0.5rem;
  display: flex;
  align-items: center;
  max-width: 300px;
  max-height: 210px;
  border-color: rgb(226, 232, 240);
}

.features-title-subtitle {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  line-height: 2;
}

.features-titlev2 {
  color: rgb(36 62 99);
  font-family: Inter, system-ui;
  font-weight: 700;
  margin: 0px;
}

.feautres-subtitle {
  color: rgb(124 139 161);
  margin: 2px;
}
