* {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
  font-family: Inter, system-ui;
}

.nav-page {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
}

.nav-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.nav-logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 0 25px;
}

.nav-links-hover {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 500;
}

.nav-link-login {
  margin: 0 2rem;
}

.nav-link-sighup {
  border-color: rgb(100 21 255);
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
  border-bottom-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
}

.nav-text {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 25px;
  font-weight: 700;
  padding-left: 12px;
  letter-spacing: 0.9px;
}

.logo-nav {
  width: 40px;
  height: 40px;
}
